@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;

}

body{
  background-color: rgb(24, 0, 46);
}
h1,h4,p,a{
  color: aliceblue;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
   padding: 12px 40px;
   font-size: 1.5rem;
   text-transform: uppercase;
   background-color: rgb(84, 63, 161);
   color: rgb(255, 255, 255);
   border: 1px solid aliceblue;
   font-weight: 300;
   cursor: pointer;
}

.btn-light{
  background-color: transparent;
  color: aliceblue;
  
}


.btn:hover{
  background: rgb(155, 128, 255);
  color: aliceblue;
  transition: 0.3s;
  
}
